<hfw-tiles-view #tilesViewTemplate class="hfw-tiles-overview bg-base-0" [isVirtual]="true" [data]="tilesViewData"
  [tileSize]="sizeModel" [pageSize]="pageSize" [skip]="skip">
  <ng-template hfwTilesViewHeaderTemplate>
    <!-- <div style="text-align:center; font-weight: bold; font-size: xx-large;"><br><br><br>gms video control (control)</div> -->
    <div *ngIf="displayedDeviceGroupLabel">
      <div style="padding-top: 3;">
        <button type="button" class="btn btn-tertiary me-6" [disabled]="disabled" (click)="onBackButtonClicked()"><i
            class="icon element-left-4"></i>Back to all groups</button>
      </div>
      <div id="group_container" style="padding-top: 2rem; padding-bottom: 1.5rem;">
        <i class="element-group-member" style="font-size:1.5rem;vertical-align:baseline;"></i>
        <span class="badge badge-default">{{displayedDeviceGroupLabel}}</span>
      </div>
    </div>
    <div id="filtered_search_container" class="pe-6" style="display: flex;padding-bottom: 1.5rem; padding-top: 2;">
      <si-filtered-search placeholder="{{templateStrings.searchFilterWatermark_}}"
        submitText="{{templateStrings.submitText}}" items="{{templateStrings.items}}" style="width: 85%;"
        prohibitedCharacters="*?" [lazyCriterionProvider]="filteredSearch.lazyCriterionProvider" [debounceTime]="400"
        [showIcon]="true" [searchCriteria]=searchFilterCriteria [maxCriteriaOptions]=0
        (doSearch)="onSearchFilterChanged($event)" />

      <si-content-action-bar style="margin-left: 2%;width: 15%;" class="float-end" toggleItemLabel="toggle"
        viewType="expanded" [primaryActions]="modePrimaryItems" />
    </div>
  </ng-template>

  <ng-template let-dataItem="dataItem" hfwTilesItemTemplate>
    <si-card id="{{dataItem.id + dataItem.label}}" class="hfw-flex-item-grow d-flex nodemap__header"
      actionBarViewType="mobile" [heading]="dataItem.label" [primaryActions]="dataItem.UIActions"
      (mousedown)="populatePrimaryActions(dataItem, $event)">
      <!-- <si-card class="mt-6" [heading]="dataItem.label" [primaryActions]="dataItem.actions"> -->
      <si-icon icon="{{dataItem.disciplineIcon}}" headerIcon class="me-3" />
      <div class="hfw-flex-container-column hfw-flex-item-grow {{dataItem.cardBackgroundColor}}" body
        style="align-items: left;" [style.cursor]="dataItem.cardCursor" (mouseenter)="onMouseEnter(dataItem, $event)"
        (mouseleave)="onMouseLeave(dataItem)" (click)="onInfoDeviceClick(dataItem, $event)"
        (dblclick)="onInfoDeviceDoubleClick(dataItem, $event)">
        <div *ngIf="dataItem.isDeviceGroup; else elseBlock">
          <div class="tile-body-container">
            <i class="element-group-member align_card_icon" style="visibility: hidden;"></i>
            <span class="span-text"
              [textContent]="dataItem.disconnectedChildren + ' / ' + dataItem.countChildren + ' disconnected'"></span>
          </div>
          <div class="tile-body-container">
            <span *ngIf="dataItem.ownedChildren?.length > 0 || dataItem.countChildren?.length > 0">
              <i class="element-lock-filled align_card_icon"></i>
            </span>
            <span class="span-text" style="visibility: hidden;"
              [textContent]="dataItem.ownedChildren + ' / ' + dataItem.countChildren"></span>
          </div>
          <div class="tile-body-container group-align-top">
            <i class="element-lock-filled align_card_icon white-icon"></i>
            <span class="span-text" textContent=""></span>
          </div>
        </div>
        <ng-template #elseBlock>
          <div class="tile-body-container">
            <i class="element-type align_card_icon" style="visibility: hidden;"></i>
            <span class="span-text"
              [textContent]="(dataItem.browserObject.Attributes.TypeDescriptor?.length > 22) ? (dataItem.browserObject.Attributes.TypeDescriptor | slice:0:22) + '...' : dataItem.browserObject.Attributes.TypeDescriptor"></span>
          </div>
          <div class="tile-body-container">
            <span *ngIf="dataItem.networkType?.length > 0">
              <i class="element-network align_card_icon"></i>
            </span>
            <span class="span-text" [textContent]="dataItem.networkType"></span>
          </div>
          <div class="tile-body-container">
            <span *ngIf="dataItem.parentGroupLabel?.length > 0">
              <i class="element-group-member align_card_icon"></i>
            </span>
            <span class="span-text"
              [textContent]="(dataItem.parentGroupLabel?.length > 22) ? (dataItem.parentGroupLabel | slice:0:22) + '...' : dataItem.parentGroupLabel"></span>
          </div>
        </ng-template>
      </div>

      <div class="hfw-flex-container-column hfw-flex-item-grow" body style="align-items: left;">
        <div class="tile-footer-container">
          <span *ngIf="dataItem.eventCounter > 0">
            <span *ngIf="dataItem.isOffline === false;">
              <i class="{{dataItem.categoryEventIcon}} icon align_card_icon footer-icon"
                [style.color]="dataItem.categoryIconColor"></i>
              <span class="footer-text"
                [textContent]="(dataItem.mostImportantEventText?.length > 22) ? (dataItem.mostImportantEventText | slice:0:22) + '...' : dataItem.mostImportantEventText"></span>
            </span>
            <span *ngIf="dataItem.isOffline === true;">
              <i class="element-lock-filled align_card_icon white-icon footer-icon"></i>
              <span class="badge bg-warning footer-text-disconnect"
                [textContent]="(dataItem.mostImportantEventText?.length > 22) ? (dataItem.mostImportantEventText | slice:0:22) + '...' : dataItem.mostImportantEventText"></span>
            </span>
          </span>
          <span *ngIf="dataItem.eventCounter === 0">
            <span *ngIf="dataItem.isOffline === true;">
              <i class="element-lock-filled align_card_icon white-icon footer-icon"></i>
              <span class="badge bg-warning footer-text-disconnect"
                [textContent]="(dataItem.mostImportantEventText?.length > 22) ? (dataItem.mostImportantEventText | slice:0:22) + '...' : dataItem.mostImportantEventText"></span>
            </span>
            <span *ngIf="dataItem.isOffline === false;">
              <i class="element-lock-filled align_card_icon white-icon footer-icon"></i>
              <span class="footer-text" [textContent]=''></span>
            </span>
          </span>

          <span class="footer-align-right nodemap__item">
            <gms-button-popover *ngIf="dataItem.eventCounter > 0" iconActivated="element-alarm"
              [alertsNum]="dataItem.eventCounter" [icon]="dataItem.popoverIcon"
              [color]="dataItem.eventCounter > 0? '#D92B48': 'black'"
              [hideButton]="dataItem.eventCounter > 0? false: true" (click)="onClickEvents(dataItem, true)">
              <gms-event-content *ngIf="dataItem.showPopover === true" [fullSnapinID]="fullSnapinID"
                [nodes]="[dataItem.browserObject]" />
            </gms-button-popover>
          </span>
        </div>
      </div>
    </si-card>
  </ng-template>

  <ng-template #deviceGrouptemplate>
    <div class="modal-header">
      <h4 class="si-title-1" id="customModalLabel">{{templateStrings.renameDescription_}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()">
      </button>
    </div>

    <div class="modal-body">
      <form class="form-inline">
        <div class="form-group" style="padding: 3px;">
          <input class="{{renameGroupClass}}" type="text" name="deviceGroupDisplayName" id="deviceGroupDisplayName"
            [(ngModel)]="deviceGroupDisplayName" />
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"
        (click)="onEditDeviceGroupDisplayNameButtonCancelClicked()">{{templateStrings.cancel_}}</button>
      <button type="button" class="btn btn-primary" [disabled]="!canRenameGroup()"
        (click)="onEditDeviceGroupDisplayNameButtonRenameClicked()">{{templateStrings.rename_}}</button>
    </div>
  </ng-template>

  <!-- US2053493 -->
  <div class="modal-content">
    <ng-template #createGrouptemplate>
      <div class="modal-header">
        <button *ngIf="step === 2 && selectedTileItems.length <= 1" type="button"
          class="btn btn-circle btn-sm btn-secondary element-left-4 flex-grow-0 flex-shrink-0"
          style="margin-left: -10px;" (click)="onBack($event)"> </button>
        <h4 *ngIf="step === 1" class="si-title-1" id="customModalLabel">{{templateStrings.selectDevicesToGroup_}}</h4>
        <h4 *ngIf="step === 2" class="si-title-1" id="customModalLabel" style="width: 380; margin-left: 15px;">
          {{templateStrings.assignDevicesToGroup_}}</h4>
        <h4 *ngIf="step === 3" class="si-title-1" id="customModalLabel">{{templateStrings.assignDeviceToGroup_}}</h4>
        <h4 *ngIf="step === 4" class="si-title-1" id="customModalLabel">{{templateStrings.manageGroup_}}</h4>
        <h4 *ngIf="step === 5" class="si-title-1" id="customModalLabel">{{templateStrings.selectDevices_}}</h4>
        <h4 *ngIf="step === 6" class="si-title-1" id="customModalLabel">{{templateStrings.removeGroups_}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()">
        </button>
      </div>

      <div class="modal-body">

        <div *ngIf="step === 1 || step === 5 || step === 6" class="pe-6"
          style="display: flex; place-content: center space-between;">
          <si-search-bar #documentSiSearchBarCreateNewGroup placeholder="{{templateStrings.searchFilterWatermark_}}"
            class="search-field ms-6 mb-4 mt-6" style="width: 100%;" id="SiSearchBar" name="SiSearchBar"
            prohibitedCharacters="*?" [debounceTime]="400" [showIcon]="true"
            (searchChange)="onSearchRequestedCreateGroup($event)" />
        </div>

        <div class="ms-4 mt-3">
          <div *ngIf="step === 2 || step === 3" class="form-check" style="width: 98%; padding-left: 9px;">
            <input type="radio" class="form-check-input" name="namespaceRadios" id="existingGroupRadio"
              value="Existing Group" checked (change)="onExistingGroupRadioChanged($event)">
            <label class="form-check-label" for="nameRadio">{{templateStrings.existingGroup_}}</label>
          </div>
          <div *ngIf="step === 4 && !controlsExchanged" class="form-check" style="width: 98%; padding-left: 9px;">
            <input type="radio" class="form-check-input" name="namespaceRadios" id="existingGroupRadio"
              value="Existing Group" (change)="onExistingGroupRadioChanged($event)">
            <label class="form-check-label" for="nameRadio">{{templateStrings.assignToExistingGroup_}}</label>
          </div>
          <div *ngIf="step === 4 && controlsExchanged" class="form-check" style="width: 98%; padding-left: 9px;">
            <input type="radio" class="form-check-input" name="namespaceRadios" id="existingGroupRadio"
              value="Existing Group" checked (change)="onExistingGroupRadioChanged($event)">
            <label class="form-check-label" for="nameRadio">{{templateStrings.assignToExistingGroup_}}</label>
          </div>
          <div *ngIf="step === 2 || step === 3 || step === 4" style="width: 98%; padding-left: 9px;">
            <select *ngIf="step !== 4 || controlsExchanged" class="form-control" style="line-height: normal;"
              id="existingGroupInput" (change)="onSelectedGroupChanged($event.target.selectedIndex)">
              <ng-container *ngFor="let group of allDeviceGroups;  trackBy: trackByIndex">
                <option [selected]="false">
                  <span>{{ group.label }}</span>
                </option>
              </ng-container>
            </select>
            <select *ngIf="step === 4 && !controlsExchanged" class="form-control" style="line-height: normal;"
              id="existingGroupInput" disabled (change)="onSelectedGroupChanged($event.target.selectedIndex)">
              <ng-container *ngFor="let group of allDeviceGroups;  trackBy: trackByIndex">
                <option [selected]="false">
                  <span>{{ group.label }}</span>
                </option>
              </ng-container>
            </select>
            <br>
          </div>
          <div *ngIf="step === 2 || step === 3 || step === 4" class="form-check" style="width: 98%; padding-left: 9px;">
            <input *ngIf="step !== 4 || controlsExchanged" type="radio" class="form-check-input" name="namespaceRadios"
              id="newGroupRadio" value="New Group" (change)="onNewGroupRadioChanged($event)">
            <input *ngIf="step === 4 && !controlsExchanged" type="radio" class="form-check-input" name="namespaceRadios"
              id="newGroupRadio" value="New Group" checked (change)="onNewGroupRadioChanged($event)">
            <label *ngIf="step !== 4" class="form-check-label" for="newGroupRadio">{{templateStrings.newGroup_}}</label>
            <label *ngIf="step === 4" class="form-check-label"
              for="newGroupRadio">{{templateStrings.currentGroup_}}</label>
          </div>
          <div *ngIf="step === 2 || step === 3" style="width: 98%; padding-left: 9px;">
            <input value="{{createNewGroupName}}" type="text" id="newGroupInput" class="form-control" name="newGroup"
              disabled (keyup)="onCreateNewGroupKeyup($event)">
            <br><br>
          </div>
          <div *ngIf="step === 4" style="width: 98%; padding-left: 9px;">
            <input value="{{createNewGroupName}}" type="text" id="newGroupInput" class="form-control" name="newGroup"
              disabled (keyup)="onCreateNewGroupKeyup($event)">
            <br><br>
          </div>
          <style>
            table,
            th {
              border-width: 3px;
              border-color: var(--element-ui-4);
              border-style: solid;
              border-collapse: collapse;
              border-radius: var(--element-input-radius);
            }

            td {
              border-radius: var(--element-input-radius);
            }
          </style>
          <div style="height: {{containerHeightVH}}vh;" class="container">
            <div style="height: {{containerHeightVH}}vh;" class="table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <th *ngIf="step === 1 || step === 5" class="th" colspan="3"
                      style="height: 16; text-align: left; padding-left: 24px;">
                      <input type="checkbox" class="form-check-input" id="selectAllDevices"
                        (change)="changeSelectedValueAll()">
                      <span style="padding-left: 24px;">{{templateStrings.device_}}</span>
                    </th>
                    <th *ngIf="step === 2 || step === 3 || step === 4" class="th" colspan="3"
                      style="height: 16; text-align: left; padding-left: 62px;">
                      {{templateStrings.device_}}
                    </th>
                    <th *ngIf="step === 6" class="th" colspan="3"
                      style="height: 16; text-align: left; padding-left: 24px;">
                      <input type="checkbox" class="form-check-input" id="selectAllDevices"
                        (change)="changeSelectedValueAll()">
                      <span style="padding-left: 24px;">{{templateStrings.group_}}</span>
                    </th>
                  </tr>
                  <tr *ngFor="let device of devices; trackBy: trackByIndex">
                    <div
                      *ngIf="(step === 1 || step === 5) && device.label.toLowerCase().includes(searchTextCreateNewGroup.toLowerCase()) || step === 2 && device.isVisible">
                      <td class="text-center" style="width: 10%; height: 16; border-bottom-width: 0;">
                        <input *ngIf="device.isSelected" type="checkbox" class="form-check-input" id="selectedGroup"
                          checked (change)="changeSelectedValue(device)">
                        <input *ngIf="!device.isSelected" type="checkbox" class="form-check-input" id="selectedGroup"
                          (change)="changeSelectedValue(device)">
                      </td>
                      <td class="si-body-2" style="width: 20%; height: 16; border-bottom-width: 0; text-align: center;">
                        <i class="{{device.disciplineIcon}} icon"></i>
                      </td>
                      <td class="object-label-with-ellipsis si-body-2">{{device.label}}</td>
                    </div>
                    <div *ngIf="step === 3">
                      <td class="text-center" style="width: 10%; height: 16; border-bottom-width: 0;">
                        <input *ngIf="device.isSelected" type="checkbox" class="form-check-input" id="selectedGroup"
                          style="visibility: hidden;" checked (change)="changeSelectedValue(device)">
                      </td>
                      <td class="si-body-2" style="width: 20%; height: 16; border-bottom-width: 0; text-align: center;">
                        <i class="{{device.disciplineIcon}} icon"></i>
                      </td>
                      <td class="object-label-with-ellipsis si-body-2">{{device.label}}</td>
                    </div>
                    <div
                      *ngIf="step === 6 && device.label.toLowerCase().includes(searchTextCreateNewGroup.toLowerCase())">
                      <td class="text-center" style="width: 10%; height: 16; border-bottom-width: 0;">
                        <input *ngIf="device.isSelected" type="checkbox" class="form-check-input" id="selectedGroup"
                          checked (change)="changeSelectedValue(device)">
                        <input *ngIf="!device.isSelected" type="checkbox" class="form-check-input" id="selectedGroup"
                          (change)="changeSelectedValue(device)">
                      </td>
                      <td class="si-body-2" style="width: 10%; height: 16; border-bottom-width: 0; text-align: center;">
                      </td>
                      <td class="object-label-with-ellipsis si-body-2">{{device.label}}</td>
                    </div>
                  </tr>
                  <tr *ngFor="let currentGroupItem of currentGroupItems; trackBy: trackByIndex">
                    <div *ngIf="step === 4 && currentGroupItem.isVisible">
                      <td class="text-center" style="width: 10%; height: 16; border-bottom-width: 0;">
                        <input *ngIf="currentGroupItem.isSelected" type="checkbox" class="form-check-input"
                          id="selectedGroup" checked (change)="changeSelectedValue(currentGroupItem)">
                        <input *ngIf="!currentGroupItem.isSelected" type="checkbox" class="form-check-input"
                          id="selectedGroup" (change)="changeSelectedValue(currentGroupItem)">
                      </td>
                      <td class="si-body-2" style="width: 20%; height: 16; border-bottom-width: 0; text-align: center;">
                        <i class="{{currentGroupItem.disciplineIcon}} icon"></i>
                      </td>
                      <td class="object-label-with-ellipsis si-body-2">{{currentGroupItem.label}}</td>
                    </div>
                  </tr>
                  <tr *ngFor="let device of devices; trackBy: trackByIndex">
                    <div *ngIf="step === 4 && device.isVisible">
                      <td class="text-center" style="width: 10%; height: 16; border-bottom-width: 0;">
                        <input *ngIf="device.isSelected" type="checkbox" class="form-check-input" id="selectedGroup"
                          checked (change)="changeSelectedValue(device)">
                        <input *ngIf="!device.isSelected" type="checkbox" class="form-check-input" id="selectedGroup"
                          (change)="changeSelectedValue(device)">
                      </td>
                      <td class="si-body-2" style="width: 20%; height: 16; border-bottom-width: 0; text-align: center;">
                        <i class="{{device.disciplineIcon}} icon"></i>
                      </td>
                      <td class="object-label-with-ellipsis si-body-2">{{device.label}}</td>
                    </div>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div si-form-container-buttons>
          <button type="button" class="btn btn-secondary" style="margin-right: 5px; margin-left: 5px;"
            (click)="cancel()">
            {{templateStrings.cancel_}}
          </button>
          <button *ngIf="step === 1" type="submit" class="btn btn-primary mr-2"
            style="margin-right: 5px; margin-left: 5px;" [disabled]="!canMoveNext()" (click)="moveNext()">
            {{templateStrings.next_}}
          </button>
          <button *ngIf="step === 4 || step === 5" type="submit" class="btn btn-primary mr-2"
            style="margin-right: 5px; margin-left: 5px;" (click)="moveNext()">
            {{templateStrings.add_}}
          </button>
          <button *ngIf="step === 2 || step === 4" type="submit" class="btn btn-primary mr-2"
            style="margin-right: 5px; margin-left: 5px;" [disabled]="!canSave()" (click)="save()">
            {{templateStrings.save_}}
          </button>
          <button *ngIf="step === 3" type="submit" class="btn btn-primary mr-2"
            style="margin-right: 5px; margin-left: 5px;" [disabled]="!canSave()" (click)="save()">
            {{templateStrings.assign_}}
          </button>
          <button *ngIf="step === 6" type="submit" class="btn btn-primary mr-2"
            style="margin-right: 5px; margin-left: 5px;" [disabled]="!canRemoveGroups()" (click)="removeGroups()">
            {{templateStrings.remove_}}
          </button>
        </div>
      </div>
      <!-- /div -->
    </ng-template>
  </div>
  <!-- US2053493 -->
</hfw-tiles-view>