<!-- header -->
<div *ngIf="headerTemplate" class="ps-1">
  <ng-template [ngTemplateOutlet]="headerTemplate.templateRef" />
</div>

<!-- content -->
<div
  class="hfw-tiles-content ml-4"
  role="presentation"
  tabindex="-1"
  [class.hfw-tiles-loading]="loading"
  #container
>
  <cdk-virtual-scroll-viewport *ngIf="isVirtual" [itemSize]="rowHeight" class="hfw-tiles-view-wrap">
    <div class="tile-view-middle-segment">
      <ng-container *cdkVirtualFor="let row of rows; let rowIndex = index">
        <div
          *ngFor="let dataItem of row; let colIndex = index"
          class="hfw-tilesview-item ps-1"
          [style.width.px]="tilesSettings.tileWidth"
          [style.height.px]="tilesSettings.tileHeight"
          [style.margin]="tilesSettings.topBottomMargin + 'px ' + tilesSettings.leftRightMargin*2 + 'px ' + tilesSettings.topBottomMargin + 'px 0px'"
        >
          <ng-template
            [templateContext]="{
              templateRef: itemTemplate?.templateRef,
              $implicit: dataItem,
              dataItem: dataItem,
              index: rowIndex * itemsPerRow + colIndex,
              isFirst: false,
              isLast: false
            }"
          ></ng-template>
        </div>
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>

  <div *ngIf="!isVirtual" class="hfw-tiles-view-wrap">
    <div class="tile-view-middle-segment">
      <div
        *ngFor="let dataItem of items; let index = index"
        class="hfw-tilesview-item ps-1"
        [style.width.px]="tilesSettings.tileWidth"
        [style.height.px]="tilesSettings.tileHeight"
        [style.margin]="tilesSettings.topBottomMargin + 'px ' + tilesSettings.leftRightMargin*2 + 'px ' + tilesSettings.topBottomMargin + 'px 0px'"
      >
        <ng-template
          [templateContext]="{
            templateRef: itemTemplate?.templateRef,
            $implicit: dataItem,
            dataItem: dataItem,
            index: index,
            isFirst: false,
            isLast: false
          }"
        ></ng-template>
      </div>
    </div>
  </div>

  <!-- loading indicator -->
  <div *ngIf="loading" class="progress-container">
    <div class="progress-inner">
      <si-loading-spinner />
    </div>
  </div>
</div>
